<div class="container-fluid">
    <div class="jumbotron">
    <h1 class="text-center">Quotes</h1>
    <div class="row">
      <div class="col-md-6">
          <app-quotes-form (addQuotes)='addnewQuotes($event)'></app-quotes-form>
      </div>  
    </div>
    <div class="col-md-8">
        <div *ngFor="let quote of quotes;let i = index">
          <div class="row">
        
            <div class="panel panel-info" >
              <div class="panel-body">
                <div id="{{i}}">
                  <h3><span [appLikes]="quote.most">{{quotes.title}}</span></h3>
                  <app-quotes-detail [quote]='quote' (isRting)='increaseRating($event,i)' (isDelete)='deleteQuote($event,i)'></app-quotes-detail>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
</div>
