<div class="container-fluid">
    <div class="jumbotron">
      <div class="headingss">
    <h1 class="text-center">Quotes</h1>
    <h3 class="text-center">Publish your own Quotes</h3>
    </div>
    <div class="row">
      <div class="col-md-6">
          <app-quotes-form (addQuotes)='addnewQuotes($event)'></app-quotes-form>
      </div>  
    
    <div class="col-md-6">
        <div *ngFor="let quote of quotes;let i = index">
          <div class="col-md-8">
            <div class="panel panel-info" >
              <div class="panel-body">
                <div id="{{i}}">
                  <!-- <h2><span applikes>{{quote.title}}</span></h2> -->
                  <br>
                  <app-quote-detail [quote]='quote' (isDelete)='deleteQuote($event,i)'></app-quote-detail>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
